<div class="row">
  <div class="col">
    <input #termino (keyup)="search(termino.value)" type="text" class="form-control" name="search" id="search" placeholder="Buscar artista">
  </div>
</div>

<div class="card-columns m-5">
  <div *ngFor="let artist of artists" class="card">
    <img [src]="artist.images | noimage" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artist.name }}</h5>
      <p class="card-text">
        <span class="badge badge-primary"
          *ngFor="let genre of artist.genres">
          {{genre}}
        </span>
      </p>
    </div>
  </div>
</div>
